@import "tailwindcss";

:root {}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-przewodni: #FFDD57;


  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);

}

@layer base {
  .nav-item {
    @apply px-4 py-2.5 rounded-full text-gray-700 text-sm font-semibold hover:bg-gray-900 hover:text-white transition duration-300;
  }

  .container {
    @apply mt-[8%] mx-auto bg-przewodni/50 rounded-2xl;

  }
}